*.egg-info
*.mo
*.pyc
*~
.coverage
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.settings
bin/
coverage/
develop-eggs/
dist/
downloads/
eggs/
htmlcov/
include/
lib/
/local
local.cfg
Makefile
parts/
share/
src/collective.*
src/plone.*
var/
