[buildout]
develop = .
parts =
    code-analysis
    test

[code-analysis]
recipe = plone.recipe.codeanalysis[recommended]
directory = ${buildout:directory}/src/sc/recipe/staticresources
clean-lines = True
multiprocessing = True
pre-commit-hook = True
return-status-codes = True
flake8-ignore = E501,P001,T000,T001

[test]
recipe = zc.recipe.testrunner
defaults = ['--auto-color', '--auto-progress']
eggs = sc.recipe.staticresources [test]

[versions]
# use latest version of coverage and setuptools
coverage =
setuptools =
# XXX: https://github.com/zheller/flake8-quotes/issues/23
flake8-quotes = 0.1.2
